---
import Product from "./product.astro";
import { getProductListData } from "@/data/products/helpers";

const products = getProductListData();
---

<div class="flex flex-wrap gap-6 mx-auto px-4">
  {
    products.map((product) => (
      <div class="flex-1 basis-[280px] relative group">
        <Product {...product} />
      </div>
    ))
  }
</div>
